@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@inject IPublishedUrlProvider PublishedUrlProvider


@{ 
    var selection = Model.Ancestors().ToArray(); 
    var homePageDisplayName = "Home";
    var isFirstItem = true;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "breadcrumb") ?? null;
    var imageLeft = settings?.Value<IPublishedContent>("breadcrumbImageLeft")?.Url() ?? "";
    var imageRight = settings?.Value<IPublishedContent>("breadcrumbImageRight")?.Url() ?? "";
}


 <section id="page-title">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        
        @if (selection?.Length > 0)
        {
            <ul class="breadcrumb">
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    var displayName = isFirstItem ? homePageDisplayName : item.Name;
                    <li><a href="@item.Url(PublishedUrlProvider)">@displayName</a><i class="fa-solid fa-chevron-right"></i></li>
                    isFirstItem = false;
                }
                <li class="active">@Model.Name</li>
            </ul>
        }
    </div>

        <div class="background">
            <img class="left" src="@imageLeft" alt="hihi">
            <img class="right" src="@imageRight" alt="hehe">
        </div>
</section>
